* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
}

body {
    background: rgba(1, 0, 44, 0.8);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    color: rgb(85, 178, 255);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.dishes {
    color: white;
    font-size: 36px;
    text-align: center;
    min-height: 30px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    cursor: pointer;
    padding: 10px 6px;
    border: none;
    font-size: 17px;
    color: #ffffff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background: #00437a;
    box-shadow: 0 0 10px rgb(0, 140, 255);
}

button:hover {
    box-shadow: 0 0 5px rgb(85, 178, 255), 0 0 15px rgb(125, 197, 255),
        0 0 20px rgb(131, 199, 255), 0 0 20px rgb(122, 195, 255);
}
